.button-explore, .button-purchase {
  text-decoration: none;
  color: #ffffff;
  padding: 26px 32px;
  background-color: #18cfab;
  border-radius: 4px;
  border-top: 4px solid #ffffff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.button-purchase {
  margin-left: 28px;
  padding: 26px 26px;
  background-color: #00cbf6;
}