.container {
  max-width: 1160px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-inlineBlock {
  display: inline-block;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}