.lines {
  margin: 0 auto;
  width: 100px;

  &__first-line, &__second-line {
    background-color: #18cfab;
    width: 76px;
    height: 1px;
    border: 0 solid transparent;
  }

  &__first-line {
    margin-right: 18px;
  }

  &__second-line {
    margin-top: -6px;
    margin-left: 18px;
  }
}