.aboutUs {
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 99px;
  padding-bottom: 100px;
  background-color: #22353f;

  &__title {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 31px;
  }

}

.slider {
  margin-top: 69px;

  &__header {
    margin: 0 auto 69px;
    overflow-y: auto;
    overflow: hidden;
    height: auto;
    max-width: 1160px;
    position: relative;

    &--list {
      width: 400%;
      position: relative;
    }

    &--quotes {
      display: block;
      margin: 0 auto 43px;
    }

    &--description {
      color:  #bbbbbb;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 43px;
      display: inline-block;
    }

    &--name {
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }

    &--position {
      text-align: center;
      color:  #bbbbbb;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 37px;
      margin-top: 10px;
    }

    &--item {
      position: relative;
    }

    &--img {
      width: 143px;
      margin: 9px auto;
      border-radius: 50%;
      display: block;
      background-color: #18cfab;
      padding: 1px;
      box-shadow: 0 0 0 0.5em rgba(31, 218, 181, 0.2);
      position: relative;
    }
  }

  &__controller {
    width: 482px;
    margin: 0 auto;

    &--list {
      width: 352px;
      margin: 0 34px;
    }

    &--item {
      max-height: 60px;
      border-radius: 50%;
      border: 5px solid rgba(31, 218, 181, 0.2);
      position: relative;
      cursor: pointer;
    }

    &--item.activeItem {
      bottom: 10px;
    }

    .activeItem > &--img {
      border: 2px solid #18cfab;
    }

    &--img {
      border-radius: 50%;
      width: 58px;
      max-height: 58px;
      border: 1px solid rgba(31, 218, 181, 0.2);
    }

  }

}

#prev {
  cursor: pointer;
  margin-top: 18px;
  width: 31px; height: 31px;
  background: url('../img/css_sprites.png') -10px -61px;
}

#prev:hover {
  background: url('../img/css_sprites.png') -61px -61px;
}

#next {
  cursor: pointer;
  margin-top: 18px;
  width: 31px; height: 31px;
  background: url('../img/css_sprites.png') -10px -10px;
}

#next:hover {
  background: url('../img/css_sprites.png') -61px -10px;
}