.features {

  &__item {
    background-color: #1c2a33;
    width: 25%;
    border-top: 7px solid #18cfab;
    padding-bottom: 120px;
    padding-top: 88px;

    &--img-container {
      display: flex;
      align-items: center;
      height: 97px;
    }

    &--title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-top: 48px;
    }
  }

  &__item:nth-child(2n) {
    background-color:  #18cfab;
    border-top: 7px solid #ffffff;
  }
}