.footer {
  background-color: #22353f;
  padding: 46px 0;

  &__copyright {
    margin: 0 auto;
    width: 330px;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    text-align: center;

    &--left {
      margin-right: 5px;
    }

    &--right {
      border-left: 1px solid #aeaeae;
      padding-left: 5px;
    }

    &--link {
      text-decoration: none;
    }
  }
}