.header {
  background-image: url(../img/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 244px;

  &__panel {
    width: 100%;
    background-color: rgba(73, 71, 63, 0.6);

    &--menuItem {
      margin-left: 17px;
      font-size: 13px;
      margin-bottom: -6px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 49px 0;
      border-bottom: 2px solid transparent;
    }

    &--menuItem:hover {
      border-bottom: 2px solid #18cfab;
    }

    &--menuItem:last-child {
      border-bottom: 0;
    }

    &--link {
      text-decoration: none;
      color: #b8b8b8;
    }

    &--link:hover {
      color: #18cfab;
    }

    &--search {
      width: 22px;
    }
  }

  &__title {
    padding-top: 246px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &--first {
      font-size: 35px;
      font-weight: 700;
    }

    &--second {
      font-size: 79px;
      font-weight: 700;
      margin-top: 45px;
    }

    &--third {
      color: #d4d4d4;
      font-weight: 200;
      font-size: 34px;
      margin-top: 37px;
      margin-bottom: 142px;
    }
  }

  &__buttons {
    justify-content: center;
  }
}