.news {
  padding-top: 100px;
  padding-bottom: 137px;

  &__title {
    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__posts {
    margin-top: 70px;
  }

  &__post {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #eceded;
    cursor: pointer;
    padding-bottom: 12px;

    &--img:hover + &--date {
      background-color: #18cfab;
    }

    &--img:hover ~ &--title {
      color: #18cfab;
    }

    &--date {
      position: absolute;
      background-color: #203e38;
      width: 68px;
      height: 66px;
      top: 0;
      right: 0;
      color: #ffffff;
    }

    &--date:hover {
      background-color: #18cfab;
    }

    &--date-point {
      text-align: center;
      margin-top: 15px;
    }
    &--date-point:last-child {
      margin-top: 8px;
    }

    &--title {
      color: #717171;
      font-size: 18px;
      font-weight: 700;
      margin-top: 14px;
      margin-left: 15px;
      display: block;
    }

    &--title:hover {
      color: #18cfab;
    }

    &--date:hover + &--title {
      color: #18cfab;
    }

    &--comments {
      margin-left: 15px;
      margin-top: 15px;
      width: 180px;
    }

    &--author, &--numberComment {
      color: #777777;
      font-size: 14px;
      font-weight: 300;
    }

    &--numberComment {
      border-left: 1px solid #777777;
      padding-left: 15px;
    }

  }
}