.purchase {
  background-image: url(../img/bg-purchase.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 126px;
  padding-bottom: 153px;
  text-align: center;

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    color:  #d8d8d8;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 106px;
  }

  &__description + .button-purchase {
    background-color: #18cfab;
    margin-left: 0;
  }
}