@import "./modules/green-box";

.services {
  padding-top: 82px;

  &__title {
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    margin-bottom: 37px;
  }

  &__block {

    &--list {
      margin-top: 70px;
    }

    &--item {
      color:  #717171;
      font-size: 16px;
      display: block;
      width: 193px;
      padding: 28px 0;
      text-align: center;
      background-color: #f8fcfe;
      border: 1px solid #eceded;
      cursor: pointer;
      position: relative;
    }

    &--item.active {
      background-color: #18cfab;
      color: #ffffff;
      display: block;
      border-bottom: none;
    }

    &--item.active > .green-box {
      display: block;
    }

    &--item:hover {
      background-color: #18cfab;
      color: #ffffff;
      border-bottom: none;
    }

    &--item:hover > .green-box {
      display: block;
    }

    &--description {
      margin-top: 14px;
      margin-bottom: 102px;
      display: none;
    }

    &--description.active {
      display: flex;
    }

    &--img {
      margin-right: 20px;
    }

    &--text {
      color:  #777777;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-align: justify;
    }
  }
}